{% extends "notes_list.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1 class="text-center">Edit profile</h1>
    <div class="form-control flex-nowrap related-lookup p-3">
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            <div class="container w-75 p-2">
                {{ user_form | crispy }}
                {{ profile_form | crispy }}
                <input class="form-control-plaintext btn-success m-1" type="submit" value="Save">
            </div>
        </form>
    </div>
    <div class="container form-control-plaintext text-center text-decoration-underline fw-bold">
        <a class="" href="{% url 'change password' %}">Change your password</a>
    </div>
    <div class="container form-control text-center text-decoration-underline fw-bold">
        <a class="btn btn-danger" href="{% url 'delete profile' user.id %}">Deactivate account</a>
    </div>


{% endblock %}