{% extends "notes_list.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block title %}<title>Create notes</title>{% endblock %}
{% block content %}
    <h1 class="text-center">Create new note</h1>
    <div class="form-control flex-nowrap related-lookup p-3">
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}

            <!-- Using the formset -->
            <div class="container form-control w-75 p-2">
                {{ form | crispy }}
                <input class="form-control-plaintext btn-success m-1" type="submit" value="Save">
            </div>

        </form>
    </div>


{% endblock %}
