{% extends "notes_list.html" %}

{% block content %}
    <h1 class="text-center">Subject - {{ object.subject }}</h1>
    <hr/>
    <h2 class="text-center">Description - {{ object.text }}</h2>
    <hr/>
    <h3 class="text-center">Owner - {{ object.user }}</h3>
    <hr/>
    <h4 class="text-center">Note picture</h4>
    {% if object.image_url %}
        <img class="img-responsive w-25 rounded mx-auto d-block text-center" alt="{{ object.subject }} note"
             src="{{ object.image_url.url }}">
    {% endif %}
    <hr/>
{% endblock %}